name: Release
on:
  workflow_dispatch:
  push:
    tags: ["*"]
jobs:
  publish:
    name: Release sbt plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1
      - run: sbt ci-release
        working-directory: sbt-plugin
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
